.nearbyRes::-webkit-scrollbar{
    display: none;
}

.Res_comp{
    background-color: var(--color-Res-accent-light);
    width: 95%;
    margin:1rem auto ;
    border-radius: .8rem;
    height:calc(100% - 6rem);
    overflow: auto;
}
/* scrollbar optimization */

.Res_comp::-webkit-scrollbar {
    width: 0.6rem;                /* Slightly thicker for visibility */
}

.Res_comp::-webkit-scrollbar-track {
    background: transparent;      /* Transparent or light gray background */
    border-radius: 1rem;
}

.Res_comp::-webkit-scrollbar-thumb {
    background: var(--color-Res-button-bg); /* Gradient look */
    border-radius: 1rem;
    transition: background 0.3s ease;
}

.Res_comp::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #666, #333); /* Darker on hover */
}
  

._filterOpt{
    display: flex;
    line-height: 1;
    align-items: center;
    gap:1rem ;
}

/* end */

.nearbyRes
{
    display: flex;
    row-gap: 3rem;
    justify-content: space-evenly;
    column-gap: 2.5rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 4rem;
    border-radius: .7rem;
    box-sizing: border-box;

}

.search_Fiter_box{
    width:100%;
    padding:1rem 6vw ;
    box-sizing:border-box;
    display:flex;
    background-color: var(--color-Res-bg-light);
    border-top-left-radius: 1em;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
/* navbar */
.navbar {
    width: 95%;
    height: 4rem;
    background-color: var(--color-Res-bg-light);
    margin: 0 auto;
    border-radius: 1.6rem;
    padding: 0 3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}

.navbar h1{
    color: var(--color-Res-secondary);
}

/* sectionHEad */

.bodySec{
    width: 95%;
    margin: 1rem auto 0 auto;
    height: 60%;
    background-color: var(--color-Res-secondary);
    font-family: poppins,sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
    color: var(--color-Res-bg-main);
    display: flex;
    justify-content: space-between;
    border-radius: .7rem;
}

.left
{
    width: 45%;
    height: 100%;
    padding: 8dvh .9vw 6dvh 3vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;

}

.left h1{
    font-size: clamp(3.5rem,5.5vw,10rem);
    line-height: 1;
    letter-spacing: -.1rem;
    position: relative;
}
.left h4{
    color: var(--color-Res-accent-light);
    font-size:clamp(.7rem,2.5vw,4rem);
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
}

.left button{
    padding: 1rem 1.5rem ;
    border-radius: .5rem;
    background-color: var(--color-Res-button-bg);
    color: var(--color-Res-button-text);
    font-family: poppins;
    width: fit-content;
    font-weight: 600;
    font-size:clamp(.5rem,1.5vw,3rem);
    line-height: 1;
    transform: scale(1);
}

.right{
    width: 55%;
    height: 100%;
    position: relative;
    border-radius: inherit;
    overflow: hidden;
}

.right .BgVEc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left h1 .Vec_Img{
    position: absolute;
    top: -4rem;
    right: -1rem;
    width: 20%;
    /* height: 100%; */
    object-fit: cover;
}


/* featrure section */

.features{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5vw;
    
}

.Card_ele{
    display: flex;
    font-family: poppins;
    flex-direction: column;
    width: clamp(20rem , 30vw ,34rem ) !important;
    background-color: var(--color-Res-secondary) !important;
    box-sizing: border-box;
    padding: 1.8dvh 1vw;
    gap: 1rem;
}

._h3{
    color: var(--color-Res-accent-light);
    line-height:1  !important;
    letter-spacing: 0px !important;
}

._p{
    color: var(--color-Res-bg-light);
    font-size: 1.4rem !important;
    line-height: 1 !important;
}

/* NearBy res styles */

.cardBox{
    background-color: var(--color-Res-primary);
    padding: 1rem;
    border-radius: .8em;
    box-shadow:0px 0px 2.5rem 0px  var(--color-Res-primary);
    width: fit-content;
}

.Res_Img{
    position: relative;
    width: clamp(22rem,40vw,30rem);
    height: clamp(24rem,42dvh,33rem);
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: .6rem;
}

.Res_Img >  .Img_{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name_rating ,.cuisine_,.address{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: .5rem .1rem;
    font-family: poppins;
    line-height: 1;
}
.name_rating p:last-child,.address p:last-child{

    background-color: var(--color-Res-button-bg);
    padding:.2rem .5rem;
    border-radius: .3em;
    font-weight: 800;
}
/* transition-animation  */

button:hover{
    transform: scale(.95);
    background-color: var(--color-Res-button-text);
    color: var(--color-Res-button-bg);
    box-shadow: 0px 0px 8px 1px;
}

.left button{
    transition: transform 300ms ease,
                color 350ms ease-in,
                box-shadow 200ms ease,
                background-color 250ms ease-out;
}