.textarea{
    width: 100%;
    height: 2rem;
    border: none;
    background-color:transparent;
    font-family: monospace,sans-serif;
    color: black;
    font-size: 16px;
    line-height: 1.1;
    outline: none;
    resize: none; /* disable manual resizing */
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.04);
}

.textarea::placeholder{
    color: #8b98a5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form{
    width: 35vw;
    height: fit-content;
    border-radius: 1.5rem;
    margin: 2rem auto;
    box-sizing: border-box;
    padding:.4rem 1rem .4rem 1rem;
    background-color:white;
    display: flex;
}
.form:has(.textarea:focus){
    border-radius: 1rem;
}

.form button{
    border-radius: 1em;
    border: none;
    outline:none ;
    font-family: "poppins",monospace,sans-serif;
    padding: .3rem .5rem;
    background-color:black;
    color: white;
    cursor: pointer;
    height: 2rem;
}

