 /* for weather app */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

:root{
  --bg1: #0f172a;
  --bg2: #08203a;
  --accent: #7dd3fc;
  --glass: rgba(255,255,255,0.06);
  --glass-2: rgba(255,255,255,0.08);
  --glass-3: rgba(255,255,255,0.12);
  --text: #e6eef8;
}

/* *{box-sizing: border-box} */
body
{
  margin:0;
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: var(--text);
  /* background: linear-gradient(180deg, rgba(4,8,16,0.95) 0%, rgba(3,12,23,0.9) 60%); */
  position: relative;
  overflow: hidden;
  height: 100dvh;

}

#root > img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(.5px) brightness(.7);
}