 /* for weather app */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
*{
    margin: 0;
  padding: 0;
}

:root{

  /* WeatherHomePage */
  --bg1: #0f172a;
  --bg2: #08203a;
  --accent: #7dd3fc;
  --glass: rgba(255,255,255,0.06);
  --glass-2: rgba(255,255,255,0.08);
  --glass-3: rgba(255,255,255,0.12);
  --text: #e6eef8;

  /* RestaurantPage */

 /* Primary Brand Colors */
 --color-Res-primary: #155B46;
 --color-Res-secondary: #19675a;

 /* Accent Colors */
 --color-Res-accent: #F27847;
 --color-Res-accent-light: #F8C36B;

 /* Backgrounds */
 --color-Res-bg-main: #F7F4EF;
 --color-Res-bg-light: #ffe5cc;

 /* Text Colors */
 --color-Res-text-dark: #1C1C1C;
 --color-Res-text-light: #FFFFFF;

 /* Button */
 --color-Res-button-bg: #e3612d;
 --color-Res-button-text: #FFFFFF;

 /* Borders or highlights */
 --color-Res-border: #E0E0E0;}

/* *{box-sizing: border-box} */
body
{
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: var(--text);
  background:black;
  position: relative;
  overflow: hidden;
  height: 100dvh;

}

#root > img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(.5px) brightness(.7);
}