.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 2rem;
    position: relative;
    background: linear-gradient(180deg, rgba(16, 4, 4, 0.194) 0%, rgba(3, 12, 23, 0.427) 60%);

}

.features {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}
  
/* .container > img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(.5px) brightness(.7);
} */